h2 {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

h3 {
  font-size: 1.2rem;
  margin-top: 1.5rem;
}

blockquote {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border-left: 0.25rem solid #eceeef;
}

caption {
  caption-side: top;
  text-align: center;
  color: rgb(55, 58, 60);
  font-style: italic;
}

table caption:before {
  content: "Table: ";
}

table th, table td {
  padding: 0.25rem;
}

.table-ability-scores thead td,
.table-ability-scores thead th,
.table-ability-scores tbody td,
.table-ability-scores tbody th {
  border: none;
  text-align: center;
  padding: 0.25rem;
}

.dl-horizontal dt {
  clear: both;
  margin-bottom: 0.5rem;
}

.navbar .navbar-nav .nav-item {
  margin-left: 0.3rem;
}

.navbar .navbar-brand {
  margin-right: 0;
}

.nav-tabs {
  border-bottom: none;
}

.stats-standard {
  font-size: 0.95rem;
}

.stats-standard .compact {
  margin-bottom: 0;
}

.hanging {
  text-indent: -1rem;
  margin-left: 1rem;
}
