h2 {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 36px;
}

h2.h1,
h2.h3,
h2.h4,
h2.h5,
h2.h6 {
  border: none;
}

h3 {
  font-size: 30px;
  margin-top: 1.5rem;
}

h4 {
  font-size: 24px;
  font-weight: normal;
  font-style: italic;
  margin-top: 1rem;
}

h5 {
  font-size: 18px;
  font-weight: normal;
  margin-top: 1rem;
  text-decoration: underline;
}

h6 {
  font-size: 14px;
  font-weight: normal;
  margin-top: 1rem;
  text-decoration: underline;
}

blockquote {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border-left: 0.25rem solid #eceeef;
}

caption {
  caption-side: top;
  text-align: center;
  color: rgb(55, 58, 60);
  font-style: italic;
}

table caption:before {
  content: "Table: ";
}

table th, table td {
  padding: 0.25rem;
}

.table-ability-scores thead td,
.table-ability-scores thead th,
.table-ability-scores tbody td,
.table-ability-scores tbody th {
  border: none;
  text-align: center;
  padding: 0.25rem;
}

.dl-horizontal dt {
  clear: both;
  margin-bottom: 0.5rem;
}

.navbar .navbar-nav .nav-item {
  margin-left: 0.3rem;
}

.nav-tabs {
  border-bottom: none;
}

.stats-standard {
  font-size: 0.95rem;
}

.card-title {
  margin-top: 0;
  padding-top: 0;
}

.card :last-child {
  margin-bottom: 0;
}

.card .compact {
  margin-bottom: 0;
  padding-top: 0;
}

/* Utilities */

.font-smallcaps {
  font-variant: small-caps;
}

.hanging {
  text-indent: -1rem;
  margin-left: 1rem;
}

.m-t-half {
  margin-top: 0.5rem;
}

.m-b-half {
  margin-bottom: 0.5rem;
}

.m-y-half {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.p-y-half {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
