---
layout: ogl-notice
---

<div class="col-md-3 pull-md-right">
  {% assign background_groups = site.backgrounds | group_by: 'group' %}
  {% for background_group in background_groups %}
    <div class="card">
      <div class="card-block">
        <table class="table table-sm">
          <caption>{{ background_group.name | capitalize }} Backgrounds</caption>
          <tbody>
          {% for background in background_group.items %}
            <tr>
              <td>
                <a href="{{ background.url }}">{{ background.title }}</a>
                {% unless site.data.first_party_sources contains background.source %}
                  <span class="label label-info">Third-Party</span>
                {% endunless %}
              </td>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% endfor %}
</div>

{{ content }}
