---
layout: ogl-notice
---

<p>
  <strong>Hit Dice:</strong>
  1d{{ page.hit_die }} per {{ page.title | downcase }} level
</p>

<p>
  <strong>Hit Points at 1st Level:</strong>
  {{ page.hit_die }} + your Constitution modifier
</p>

<p>
  <strong>Hit Points at Higher Levels:</strong>
  1d{{ page.hit_die }} (or {{ page.hit_die | divided_by: 2 | plus: 1 }}) + your Constitution modifier per {{ page.title | downcase }} level after 1st
</p>

<p>
  <strong>Armor Proficiencies:</strong>
  {% if page.armor_proficiencies %}{{ page.armor_proficiencies | array_to_sentence_string }} armor{% else %}None{% endif %}
</p>

<p>
  <strong>Weapon Proficiencies:</strong>
  {% if page.armor_proficiencies %}{{ page.weapon_proficiencies | array_to_sentence_string }} weapons{% else %}None{% endif %}
</p>

<p>
  <strong>Tool Proficiencies:</strong>
  {% if page.tool_proficiencies %}{{ page.tool_proficiencies | array_to_sentence_string }}{% else %}None{% endif %}
</p>

<p>
  <strong>Saving Throw Proficiencies:</strong>
  {% if page.saving_throw_proficiencies %}{{ page.saving_throw_proficiencies | array_to_sentence_string }}{% else %}None{% endif %}
</p>

<p>
  <strong>Skill Proficiencies:</strong>
  {% if page.skill_proficiencies %}{{ page.skill_proficiencies | array_to_sentence_string }}{% else %}None{% endif %}
</p>

<p>
  <strong>Starting Equipment:</strong>
  {% if page.starting_equipment %}You start with the following equipment, in addition to the equipment granted by your background:{% else %}None{% endif %}
</p>

{% if page.starting_equipment %}
  <ul>
    {% for item in page.starting_equipment %}
      <li>{{ item }}</li>
    {% endfor %}
  </ul>
{% endif %}

{{ content }}

{% if page.has_spells %}
  <h2 id="{{ page.title | downcase | uri_escape }}-spells">{{ page.title }} Spells</h2>

  <table class="table table-responsive">
    <caption>{{ page.title }} Spells</caption>
    <thead>
      <tr>
        <th>Spell</th>
        <th class="text-sm-center">Level</th>
        <th>School</th>
        <th>Casting Time</th>
        <th>Range</th>
        <th>Components</th>
        <th>Saving Throw</th>
      </tr>
    </thead>

    <tbody>
      {% assign sorted_spells = site.spells | sort: 'title' | sort: 'level' %}
      {% for spell in sorted_spells %}
        {% if spell.classes contains page.title %}
          <tr>
            <td><i><a href="{{ spell.url }}">{{ spell.title | downcase }}</a></i></td>
            <td class="text-sm-center">{{ spell.level }}</td>
            <td>{{ spell.school }}</td>
            <td>{{ spell.casting_time }}</td>
            <td>{{ spell.range }}</td>
            <td>{{ spell.components }}</td>
            <td>{{ spell.saving_throw }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>

  <table class="table table-responsive">
    <caption>{{ page.title }}-Exclusive Spells</caption>
    <thead>
      <tr>
        <th>Spell</th>
        <th class="text-sm-center">Level</th>
        <th>School</th>
        <th>Casting Time</th>
        <th>Range</th>
        <th>Components</th>
        <th>Saving Throw</th>
      </tr>
    </thead>

    <tbody>
      {% assign sorted_spells = site.spells | sort: 'title' | sort: 'level' %}
      {% for spell in sorted_spells %}
        {% assign classes_size = spell.classes | size %}
        {% if spell.classes contains page.title and classes_size == 1 %}
          <tr>
            <td><i><a href="{{ spell.url }}">{{ spell.title }}</a></i></td>
            <td class="text-sm-center">{{ spell.level }}</td>
            <td>{{ spell.school }}</td>
            <td>{{ spell.casting_time }}</td>
            <td>{{ spell.range }}</td>
            <td>{{ spell.components }}</td>
            <td>{{ spell.saving_throw }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
{% endif %}
