---
layout: ogl-notice
---

<dl class="dl-horizontal row">
  <dt class="col-md-3">Hit Dice</dt>
  <dd class="col-md-9">1d{{ page.hit_die }} per {{ page.title | downcase }} level</dd>

  <dt class="col-md-3">Hit Points at 1st Level</dt>
  <dd class="col-md-9">{{ page.hit_die }} + your Constitution modifier</dd>

  <dt class="col-md-3">Hit Points at Higher Levels</dt>
  <dd class="col-md-9">1d{{ page.hit_die }} (or {{ page.hit_die | divided_by: 2 | plus: 1 }}) + your Constitution modifier per {{ page.title | downcase }} level after 1st </dd>

  <dt class="col-md-3">Armor Proficiencies</dt>
  <dd class="col-md-9">{% if page.armor_proficiencies %}{{ page.armor_proficiencies | array_to_sentence_string }} armor{% else %}None{% endif %}</dd>

  <dt class="col-md-3">Weapon Proficiencies</dt>
  <dd class="col-md-9">{% if page.armor_proficiencies %}{{ page.weapon_proficiencies | array_to_sentence_string }} weapons{% else %}None{% endif %}</dd>

  <dt class="col-md-3">Tool Proficiencies</dt>
  <dd class="col-md-9">{% if page.tool_proficiencies %}{{ page.tool_proficiencies | array_to_sentence_string }}{% else %}None{% endif %}</dd>

  <dt class="col-md-3">Saving Throw Proficiencies</dt>
  <dd class="col-md-9">{% if page.saving_throw_proficiencies %}{{ page.saving_throw_proficiencies | array_to_sentence_string }}{% else %}None{% endif %}</dd>

  <dt class="col-md-3">Skill Proficiencies</dt>
  <dd class="col-md-9">{% if page.skill_proficiencies %}{{ page.skill_proficiencies | array_to_sentence_string }}{% else %}None{% endif %}</dd>

  <dt class="col-md-3">Starting Equipment</dt>
  <dd class="col-md-9">
    {% if page.starting_equipment %}
      You start with the following equipment, in addition to the equipment granted by your background:
      <ul>
        {% for item in page.starting_equipment %}
          <li>{{ item }}</li>
        {% endfor %}
      </ul>
    {% else %}
      None
    {% endif %}
  </dd>
</dl>

{{ content }}

{% if page.has_spells %}
  <h2 id="{{ page.title | downcase | uri_escape }}-spells">{{ page.title }} Spells</h2>

  <table class="table table-responsive">
    <caption>{{ page.title }} Spells</caption>
    <thead>
      <tr>
        <th>Spell</th>
        <th class="text-sm-center">Level</th>
        <th>School</th>
        <th>Casting Time</th>
        <th>Range</th>
        <th>Components</th>
        <th>Saving Throw</th>
      </tr>
    </thead>

    <tbody>
      {% assign sorted_spells = site.spells | sort: 'title' | sort: 'level' %}
      {% for spell in sorted_spells %}
        {% if spell.classes contains page.title %}
          <tr>
            <td><i><a href="{{ spell.url }}">{{ spell.title | downcase }}</a></i></td>
            <td class="text-sm-center">{{ spell.level }}</td>
            <td>{{ spell.school }}</td>
            <td>{{ spell.casting_time }}</td>
            <td>{{ spell.range }}</td>
            <td>{{ spell.components }}</td>
            <td>{{ spell.saving_throw }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
{% endif %}
