---
layout: ogl-notice
---

{% assign pantheon_types = site.pantheons | group_by: 'group' | sort: 'name' %}
{% for pantheon_type in pantheon_types %}
  <h2>{{ pantheon_type.name }} Pantheons</h2>

  {% for pantheon in pantheon_type.items %}
    <table>
      <thead>
        <tr>
          <th><a href="{{ pantheon.url }}">{{ pantheon.title }}</a> deities</th>
          <th>Portfolio</th>
          <th>Alignment</th>
        </tr>
      </thead>
      <tbody>
      {% for deity in site.deities %}
        {% if deity.pantheons contains pantheon.title %}
          <tr>
            <td>
              <a href="{{ deity.url }}">{{ deity.title }}</a>
              {% unless site.data.first_party_sources contains deity.source %}
                <small>(Third-Party)</small>
              {% endunless %}
            </td>
            <td>
              {{ deity.descriptor }} of {{ deity.portfolio }}
            </td>
            <td>
              {{ deity.alignment }}
            </td>
          </tr>
        {% endif %}
      {% endfor %}
      </tbody>
    </table>
  {% endfor %}
{% endfor %}

{{ content }}
