---
layout: ogl-notice
---

<div class="col-md-6 pull-md-right">
  {% assign language_groups = site.languages | group_by: 'group' %}
  {% for language_group in language_groups %}
    <div class="card">
      <div class="card-block">
        <table class="table table-sm">
          <caption>{{ language_group.name | capitalize }} Languages</caption>
          <thead>
            <tr>
              <th>Language</th>
              <th>Typical Speakers</th>
              <th>Script</th>
            </tr>
          </thead>
          <tbody>
          {% for language in language_group.items %}
            <tr>
              <td>
                <a href="{{ language.url }}">{{ language.title }}</a>
                {% unless site.data.first_party_sources contains language.source %}
                  <span class="label label-info">Third-Party</span>
                {% endunless %}
              </td>
              <td>{{ language.typical_speakers | array_to_sentence_string }}</td>
              <td>{{ language.script }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% endfor %}
</div>

{{ content }}
