---
layout: ogl-notice
---

{% capture monster_list %}
  {% for monster in site.monsters %}
    {% if monster.languages contains page.title %}
      <a href="{{ monster.url }}">{{ monster.title }}</a>,
    {% endif %}
  {% endfor %}
{% endcapture %}

<p><strong>Group:</strong> {{ page.group }}</p>

<p><strong>Typical Speakers:</strong> {{ page.typical_speakers | array_to_sentence_string }}</p>

<p><strong>Script:</strong> {{ page.script }}</p>

<p><strong>Spoken By:</strong> {{ monster_list | append: 'EOL' | remove_first: ', EOL' }}</p>

{{ content }}
