---
layout: ogl-notice
---

{% assign spoken_by = '' %}
{% for monster in site.monsters %}
  {% if monster.languages contains page.title %}
    {% capture spoken_by %}{{ spoken_by }}|<a href="{{ monster.url }}">{{ monster.title }}{% endcapture %}
  {% endif %}
{% endfor %}

<p><strong>Group:</strong> {{ page.group }}</p>

<p><strong>Typical Speakers:</strong> {{ page.typical_speakers | array_to_sentence_string }}</p>

<p><strong>Script:</strong> {{ page.script }}</p>

<p><strong>Spoken By:</strong> {{ spoken_by | remove_first: '|' | split: '|' | join: ', ' }}</p>

{{ content }}
