---
layout: ogl-notice
---

<div class="col-md-4 pull-md-right">
  {% assign monster_types = site.monsters | group_by: 'type' | sort: 'name' %}
  {% for monster_type in monster_types %}
    <table class="table table-sm">
      <caption>{{ monster_type.name | capitalize }} Creatures</caption>
      <thead>
        <tr>
          <th>Monster</th>
          <th class="text-sm-center">Challenge</th>
        </tr>
      </thead>
      <tbody>
      {% for monster in monster_type.items %}
        <tr>
          <td><a href="{{ monster.url }}">{{ monster.title }}</a></td>
          <td class="text-sm-center">
            {% case monster.challenge %}
              {% when 0.125 %}
                &#8539;
              {% when 0.25 %}
                &frac14;
              {% when 0.5 %}
                &frac12;
              {% else %}
                {{ monster.challenge }}
            {% endcase %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endfor %}
</div>

{{ content }}
