---
layout: ogl-notice
---

{% assign str_bonus = page.str | divided_by: 2 | minus: 5 %}
{% assign dex_bonus = page.dex | divided_by: 2 | minus: 5 %}
{% assign con_bonus = page.con | divided_by: 2 | minus: 5 %}
{% assign int_bonus = page.int | divided_by: 2 | minus: 5 %}
{% assign wis_bonus = page.wis | divided_by: 2 | minus: 5 %}
{% assign cha_bonus = page.cha | divided_by: 2 | minus: 5 %}
{% assign hp_bonus = con_bonus | times: page.hd %}
{% assign proficiency_bonus = page.challenge | round | minus: 1 | divided_by: 4 | plus: 2 %}
{% capture display_challenge %}{% case page.challenge %}{% when '---' %}&mdash;{% when 0.125 %}&#8539;{% when 0.25 %}{% when 0.5 %}&frac12;{% else %}{{ page.challenge }}{% endcase %}{% endcapture %}
{% assign xp = site.data.challenge_xp | where: 'rating', page.challenge | map: 'xp' | first %}
{% assign hd_size = site.data.hd_sizes | where: 'size', page.size | map: 'hd_size' %}

<section class="statblock">
  <p class="compact smallcaps" style="font-size: 1.8rem;">{{ page.title }}</p>

  <p class="compact"><i>{{ page.size | capitalize }} {{ page.type | downcase }}{{ page.tags | join: ', ' | prepend: ' (' | append: ')' | remove_first: ' ()' }}, {{ page.alignment | downcase }}</i></p>

  <hr>

  <p class="compact hanging">
    <strong>Armor Class</strong>
    {{ page.armor_class }}
    {{ page.armor_class_descriptor | prepend: '(' | append: ')' | remove_first: '()' }}
  </p>

  <p class="compact hanging">
    <strong>Hit Points</strong>
    {{ page.hp }}
    {% if page.hd %}
      ({{ page.hd }}d{{ hd_size }}+{{ hp_bonus | prepend: '+' | remove_first: '+-' | replace: '+', ' + ' | replace: '-', ' - ' }})
    {% endif %}
  </p>

  <p class="compact hanging">
    <strong>Speed</strong>
    {% for speed in page.speeds %}{% if speed.name != 'walk' %}{{ speed.name }}{% endif %} {{ speed.speed }} ft.{% unless forloop.last %}, {% endunless %}{% endfor %}
  </p>

  <hr>

  <table class="compact">
    <thead>
      <tr>
        {% for ability_score in page.ability_scores %}
          <th style="text-align: center; border-bottom: none;">
            <strong>{{ ability_score[0] | upcase | truncate: 3, '' }}</strong>
          </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      <tr>
        {% for ability_score in page.ability_scores %}
          <td style="text-align: center;">
            {{ ability_score[1] }}
            ({{ ability_score[1] | divided_by: 2 | minus: 5 | prepend: '+' | replace_first: '+-', '-'}})
          </td>
        {% endfor %}
      </tr>
    </tbody>
  </table>

  <hr>

  {% if page.saving_throw_proficiencies %}
    <p class="compact hanging">
      <strong>Saving Throws</strong>
      {% for save in page.saving_throw_proficiencies %}
        {{ save }} {{ page.ability_scores[save] | divided_by: 2 | minus: 5 | plus: proficiency_bonus | prepend: '+' }}{% unless forloop.last %},{% endunless %}
      {% endfor %}
    </p>
  {% endif %}

  {% if page.skills %}
    <p class="compact hanging">
      <strong>Skills</strong>
      {% for skill in page.skills %}
        {{ skill.name }} {{ skill.bonus | prepend: '+' }}{% unless forloop.last %},{% endunless %}
      {% endfor %}
    </p>
  {% endif %}

  {% if page.damage_resistances %}
    <p class="compact hanging">
      <strong>Damage Resistances</strong>
      {{ page.damage_resistances | array_to_sentence_string }}
    </p>
  {% endif %}

  {% if page.damage_immunities %}
    <p class="compact hanging">
      <strong>Damage Immunities</strong>
      {{ page.damage_immunities | array_to_sentence_string }}
    </p>
  {% endif %}

  {% if page.condition_immunities %}
    <p class="compact hanging">
      <strong>Condition Immunities</strong>
      {{ page.condition_immunities | array_to_sentence_string }}
    </p>
  {% endif %}

  <p class="compact hanging">
    <strong>Senses</strong>
    {% for sense in page.senses %}
      {{ sense.name | downcase }} {{ sense.range }} ft.,
    {% endfor %}
    passive Perception {{ page.skills.Perception | plus: 10 }}
  </p>

  {% if page.languages %}
    <p class="compact hanging">
      <strong>Languages</strong>
      {{ page.languages | array_to_sentence_string }}
    </p>
  {% endif %}

  <p class="compact hanging">
    <strong>Challenge</strong>
    {{ display_challenge }} ({{ xp }} XP)
  </p>

  {% if page.special_traits %}
    <hr>

    {% for trait in page.special_traits %}
      <p>
        <strong><i>{{ trait.name }}.</i></strong>
        {{ trait.text | append: '' | markdownify | remove_first: '<p>' }}
      <!-- the missing /p is closed by markdownify -->
    {% endfor %}
  {% endif %}

  {% if page.actions %}
    <p class="smallcaps" style="margin-bottom: 0;">Actions</p>

    <hr class="compact">

    {% for action in page.actions %}
      <p>
        <strong><i>{{ action.name }}.</i></strong>
        {{ action.text | append: '' | markdownify | remove_first: '<p>' }}
      <!-- the missing /p is closed by markdownify -->
    {% endfor %}
  {% endif %}

  {% if page.reactions %}
    <p class="smallcaps" style="margin-bottom: 0;">Reactions</p>

    <hr class="compact">

    {% for action in page.reactions %}
      <p>
        <strong><i>{{ action.name }}.</i></strong>
        {{ action.text | append: '' | markdownify | remove_first: '<p>' }}
      <!-- the missing /p is closed by markdownify -->
    {% endfor %}
  {% endif %}

  {% if page.legendary_actions %}
    <p class="smallcaps" style="margin-bottom: 0;">Legendary Actions</p>

    <hr class="compact">

    <p>The creature can take 3 legendary actions, choosing from the options below. Only one legendary action option can be used at a time and only at the end of another creature's turn. The creature regains spent legendary actions at the start of its turn.</p>

    {% for action in page.legendary_actions %}
      <p class="compact hanging">
        <strong>{{ action.name }}.</strong>
        {{ action.text | append: '' | markdownify | remove_first: '<p>' }}
      <!-- the missing /p is closed by markdownify -->
    {% endfor %}
  {% endif %}
</section>

{{ content }}
