---
layout: ogl-notice
---

{% assign poison_types = site.poisons | group_by: 'type' | sort: 'name' %}
{% for poison_type in poison_types %}
  <div class="marginnote">
    <table class="fullwidth">
      <thead>
        <tr>
          <th>{{ poison_type.name | capitalize }} Poison</th>
          <th>DC</th>
        </tr>
      </thead>
      <tbody>
      {% for poison in poison_type.items %}
        <tr>
          <td>
            <a href="{{ poison.url }}">{{ poison.title }}</a>
            {% unless site.data.first_party_sources contains poison.source %}
              <small>(Third-Party)</small>
            {% endunless %}
          </td>
          <td>{{ poison.saving_throw_dc }}</t>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endfor %}

{{ content }}
