---
layout: ogl-notice
---

<table class="table table-responsive">
  <caption>Spells</caption>
  <thead>
    <tr>
      <th>Spell</th>
      <th class="text-sm-center">Level</th>
      <th>School</th>
      <th>Casting Time</th>
      <th>Range</th>
      <th>Components</th>
      <th>Saving Throw</th>
    </tr>
  </thead>

  <tbody>
    {% assign sorted_spells = site.spells | sort: 'title' | sort: 'level' %}
    {% for spell in sorted_spells %}
      <tr>
        <td><i><a href="{{ spell.url }}">{{ spell.title | downcase }}</a></i></td>
        <td class="text-sm-center">{{ spell.level }} {% if spell.at_higher_levels %}<sup>A</sup>{% endif %}</td>
        <td>{{ spell.school }}</td>
        <td>{{ spell.casting_time }}</td>
        <td>{{ spell.range }}</td>
        <td>{{ spell.components }}</td>
        <td>{{ spell.saving_throw }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{{ content }}
