---
layout: ogl-notice
---

{% unless page.classes %}
  <p><i>This spell is missing classes.</i></p>
{% endunless %}

{% unless page.level %}
  <p><i>This spell is missing a level.</i></p>
{% endunless %}

{% unless page.school %}
  <p><i>This spell is missing a school.</i></p>
{% endunless %}

{% unless page.casting_time %}
  <p><i>This spell is missing a casting time.</i></p>
{% endunless %}

{% unless page.range %}
  <p><i>This spell is missing a range.</i></p>
{% endunless %}

{% unless page.components %}
  <p><i>This spell is missing components.</i></p>
{% endunless %}

{% unless page.duration %}
  <p><i>This spell is missing a duration.</i></p>
{% endunless %}

{% unless page.saving_throw %}
  <p><i>This spell is missing a saving throw.</i></p>
{% endunless %}

<p><strong>Classes:</strong> {{ page.classes | join: ', ' }}</p>

<p>
  <strong>Classification:</strong>
  {{ page.level }}{% if page.level %}{% case page.level %}{% when 1 %}st{% when 2 %}nd{% when 3 %}rd{% else %}th{% endcase %}-level{% endif %} {{ page.school }} {% if page.ritual %}(ritual){% endif %}
</p>

{% if page.casting_time %}
  <p><strong>Casting Time:</strong> {{ page.casting_time }}</p>
{% endif %}

{% if page.range %}
  <p><strong>Range:</strong> {{ page.range }}</p>
{% endif %}

{% if page.components %}
  <p><strong>Components:</strong> {{ page.components }} {% if page.material_components %}({{ page.material_components | array_to_sentence_string }}){% endif %}</p>
{% endif %}

{% if page.duration %}
  <p><strong>Duration:</strong> {{ page.duration }}</p>
{% endif %}

{% if page.saving_throw %}
  <p><strong>Saving Throw:</strong> {{ page.saving_throw }}</p>
{% endif %}

{{ content }}
