---
layout: ogl-notice
---

{% assign mapped_class_list = site.spells | map: 'classes' %}
{% assign spellcaster_classes = array[] %}
{% for class_list in mapped_class_list %}
  {% for this_class in class_list %}
    {% unless spellcaster_classes contains this_class %}
      {% capture spellcaster_classes %}{{ spellcaster_classes }}|{{ this_class }}{% endcapture %}
    {% endunless %}
  {% endfor %}
{% endfor %}
{% assign spellcaster_classes = spellcaster_classes | remove_first: '|' | split: '|' | sort %}

{% for class in spellcaster_classes %}
  <table class="table table-responsive">
    <caption>{{ class }} Spells</caption>
    <thead>
      <tr>
        <th>Spell</th>
        <th class="text-sm-center">Level</th>
        <th>School</th>
        <th>Casting Time</th>
        <th>Range</th>
        <th>Components</th>
        <th>Saving Throw</th>
      </tr>
    </thead>

    <tbody>
      {% assign sorted_spells = site.spells | sort: 'title' | sort: 'level' %}
      {% for spell in sorted_spells %}
        {% if spell.classes contains class %}
          <tr>
            <td><i><a href="{{ spell.url }}">{{ spell.title | downcase }}</a></i></td>
            <td class="text-sm-center">{{ spell.level }}</td>
            <td>{{ spell.school }}</td>
            <td>{{ spell.casting_time }}</td>
            <td>{{ spell.range }}</td>
            <td>{{ spell.components }}</td>
            <td>{{ spell.saving_throw }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
{% endfor %}

{{ content }}
